<?xml version="1.0"?>
<web-app>

<servlet>
	<servlet-name>HostsAnalysis</servlet-name>
	<servlet-class>HostsAnalysis</servlet-class>
</servlet>

<servlet>
	<servlet-name>ServersAnalysis</servlet-name>
	<servlet-class>ServersAnalysis</servlet-class>
</servlet>

<servlet>
	<servlet-name>HostDetails</servlet-name>
	<servlet-class>HostDetails</servlet-class>
</servlet>


<servlet>
	<servlet-name>ChartServlet</servlet-name>
	<servlet-class>ChartServlet</servlet-class>
</servlet>



<servlet-mapping>
	<servlet-name>HostsAnalysis</servlet-name>
	<url-pattern>/HostsAnalysis</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>ServersAnalysis</servlet-name>
	<url-pattern>/ServersAnalysis</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>HostDetails</servlet-name>
	<url-pattern>/HostDetails</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>ChartServlet</servlet-name>
	<url-pattern>/ChartServlet</url-pattern>
</servlet-mapping>


</web-app>
