#DOCKER MONITOR CONFIGURATION FILE

#IMPORTANT!! Every rule must not have space character,otherwise collector could not work properly.

#Change the below parameter, for a correct setup of the collector, on your machine

#docker remote api ip host
DOCKER_REST_API_HOST=127.0.0.1

#port where docker rest api is available
DOCKER_REST_API_PORT=4243 

#time interval between one metric capture and the next one
TIMEOUT_INTERVAL_IN_SECOND=1

#graphite ip host
GRAPHITE_HOST=127.0.0.1

#graphite port for sending metrics
GRAPHITE_PORT=2003