<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AnalyzerBgp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>Data/index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>analyzer.ServletListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>Analyzer</display-name>
    <servlet-name>Analyzer</servlet-name>
    <servlet-class>analyzer.Analyzer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Analyzer</servlet-name>
    <url-pattern>/Analyzer</url-pattern>
  </servlet-mapping>
</web-app>