#Rename this to localhost.yaml
ip: localhost
port: 161
step: 15
data:
  outoctets:
    descr: "Outbound octets from net interface"
    snmpqueries: 
      outoctets: "ifOutOctets.2"
    rrd:
      create:
        ds: 
          - "DS:outoctets:COUNTER:30:0:4294967295" #32 bit
        rra:
          - "RRA:AVERAGE:0.5:2:16" #step*cdp*rows = 1200 sec = 20 min
      graph:
        options:
          start: "now-8min"
          end: "now-30s"
          vertical-label: "MB/s"
          units-exponent: Mega
        defs:
          - "DEF:outoctets=rrd/localhost/outoctets.rrd:outoctets:AVERAGE"
          - "CDEF:realoutoctets=outoctets,1048576,/"
          - "AREA:realoutoctets#FF0000:Outbound traffic"
  inoctets:
    descr: "Inbound octets from net interface"
    snmpqueries: 
      inoctets: "ifInOctets.2"
    rrd:
      create:
        ds: 
          - "DS:inoctets:COUNTER:30:0:4294967295" #32 bit
        rra:
          - "RRA:AVERAGE:0.5:2:16" #step*cdp*rows = 1200 sec = 20 min
      graph:
        options:
          start: "now-8min"
          end: "now-30s"
          vertical-label: "MB/s"
          units-exponent: Mega
        defs:
          - "DEF:inoctets=rrd/localhost/inoctets.rrd:inoctets:AVERAGE"
          - "CDEF:realinoctets=inoctets,1048576,/"
          - "AREA:realinoctets#FF0000:Inbound traffic"
  alloctets:
    descr: "Inbound and outbound octets from net interface"
    snmpqueries:
      inoctets: "ifInOctets.2"
      outoctets: "ifOutOctets.2"
    rrd:
      create:
        ds: 
          - "DS:outoctets:COUNTER:30:0:4294967295" #32 bit
          - "DS:inoctets:COUNTER:30:0:4294967295" #32 bit
        rra:
          - "RRA:AVERAGE:0.5:2:16" #step*cdp*rows = 1200 sec = 20 min
      graph:
        options:
          start: "now-8min"
          end: "now-30s"
          vertical-label: "MB/s"
          units-exponent: Mega
        defs:
          - "DEF:inoctets=rrd/localhost/alloctets.rrd:inoctets:AVERAGE"
          - "DEF:outoctets=rrd/localhost/alloctets.rrd:outoctets:AVERAGE"
          - "CDEF:realoctets=inoctets,outoctets,+,1048576,/"
          - "AREA:realoctets#FF0000:All traffic"
